<h2></h2>
<div class="row">
  <div class="col-md-6">
  
   
<a class="btn btn-success " href="#/add-user">New User Registration</a>
<a class="btn btn-success" href="#/login-user">Signin as Existing User</a>


</div>
</div>
<img align="right"src="images/programmer.jpg" class="img-circle" alt="Cinque Terre" width="360" height="300">  <!-- bootstrap-->
<div class="containerr">
<p class="text-align: justify">
<h4> </h4> <br><br>
Technical Query Analyser is a simple web-app where users can <b>Ask or Answer </b>questions related to Programming languages. User should sign-up to Ask/Answer, after sign-in the page is redirected to dashboard where user can view questions and answers. If any question is not answered and user has knowledge on it then he/she can click ASK/ANSWER button to update the answer..or If user has new question to post then he/she clicks on ASK/ANSWER button to enter category,title and question.    </p></div> 
